<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","theme":"utkwds"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|small","bottom":"var:preset|spacing|large"}}},"className":"site-content utkwds-single-post"} -->
<main
  class="wp-block-group site-content utkwds-single-post"
  style="
    margin-top: 0;
    padding-top: var(--wp--preset--spacing--small);
    padding-bottom: var(--wp--preset--spacing--large);
  "
>
  <!-- wp:utkwds-experts/expert-profile /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","theme":"utkwds"} /-->
