/**
 * Shared styles between custom blocks
 */

// MOVE TO UTKWDS

$input-border-color: #949494;
$input-focus-border-color: #1a73c5;
$focus-ring-color: rgba(26, 115, 197, 0.3);
$form-select-bg-size: 16px 16px;
$form-select-padding-x: 15px;
$input-padding-x: 15px;

$form-switch-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%234b4b4b'/%3e%3c/svg%3e");

$tooltip-max-width: 240px;
$tooltip-font-size: 14px;
$tooltip-border-radius: 0;
$tooltip-bg: #4b4b4b;
$tooltip-opacity: 1;
$tooltip-padding-x: 20px;
$tooltip-padding-y: 20px;

// END MOVE TO UTKWDS

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/placeholders";

// MOVE TO UTKWDS

label {
	font-size: 1rem;
}

select.form-select {
	color: inherit;
}

.form-check-input {
	width: 40px;
	height: 20px;
	background-color: #f6f6f6;
	border: 1px solid #949494;

	// Switch ON style
	&:checked {
		background-color: #2171c2;
		border-color: #2171c2;
	}
}

// Update UTKWDS theme file to this padding
.button-submit {
	height: 58px;
	padding: 0 20px !important;
	word-break: normal;

	&:hover {
		color: var(--wp--preset--color--white);
		background-color: var(--wp--custom--color--river);
		border-color: var(--wp--custom--color--river);
	}
}

.form-floating {
	width: 100%;

	input[type="search"] {
		--bs-form-search-bg-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0'/%3E%3C/svg%3E");
		padding-right: 45px;
		background-color: var(--bs-body-bg);
		background-image: var(--bs-form-search-bg-img),
			var(--bs-form-search-bg-icon, none);
		background-repeat: no-repeat;
		background-position: right $form-select-padding-x center;
		background-size: $form-select-bg-size;

		&::-webkit-search-cancel-button {
			position: relative;
			-webkit-appearance: none;
			width: 16px;
			height: 16px;
			right: -10px;
			padding-right: 7px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M2.37414 3.30934C2.15816 3.09336 2.15816 2.7432 2.37414 2.52722C2.59012 2.31124 2.94029 2.31124 3.15627 2.52722L8.8487 8.21966L14.5411 2.52722C14.7571 2.31124 15.1073 2.31124 15.3233 2.52722C15.5392 2.7432 15.5392 3.09336 15.3233 3.30934L9.63083 9.00178L15.3233 14.6942C15.5392 14.9102 15.5392 15.2604 15.3233 15.4763C15.1073 15.6923 14.7571 15.6923 14.5411 15.4763L8.84871 9.78391L3.15627 15.4763C2.94029 15.6923 2.59012 15.6923 2.37414 15.4763C2.15816 15.2604 2.15816 14.9102 2.37414 14.6942L8.06658 9.00178L2.37414 3.30934Z' fill='%234B4B4B'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			border-right: 1px solid #d9d9d9;
			transform: translateY(-50%);
		}
	}
}

.placeholder {
	color: #d9d9d9;
	border-radius: 4px;

	&-lg {
		min-height: 32px;
	}
}

.programs-container-banner {
	height: 200px;
}

.tooltip .tooltip-inner {
	font-family: var(--wp--preset--font-family--primary);
	text-align: left;
}

// END MOVE TO UTKWDS

@media screen and (min-width: 800px) {
	.areasContainer {
		flex-direction: row;
		margin: 0 auto;
	}
}

// not sure why the !important is needed, but it doesn't work without it
.programs-filters {
	margin-top: -150px !important;
	background: #fff;
}

@media screen and (min-width: 960px) {
	.programs-filters-sticky {
		top: 0;
		z-index: 1;
		background: #fff;

		.admin-bar & {
			top: 32px;
		}

		&--fixed {
			position: sticky;

			.programs-filters-headings {
				padding-top: 20px;
			}
		}
	}
}

.programs-filters-fields {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	padding: 20px 20px 0;
	z-index: 2;
}

@media screen and (min-width: 960px) {
	.programs-filters-fields {
		grid-template-columns: repeat(3, 1fr) auto;
		align-items: center;
		padding: 30px 30px 0;
	}
}

.form-check {
	&.form-switch {
		padding-left: 64px;

		.form-check-input {
			width: 55px;
			height: 30px;
			margin-top: 0;
			margin-left: -64px;
		}
	}
}

.programs-filters-results {
	position: relative;
	margin: 40px calc(var(--wp--style--root--padding-right) * -1) 30px
		calc(var(--wp--style--root--padding-left) * -1);
	border-top: 1px solid #d9d9d9;
}

@media screen and (min-width: 960px) {
	.programs-filters-results {
		margin: 0;
		border-top: none;
	}
}

.online-tag {
	display: inline-flex;
	padding: 6px 10px 5px 8px;
	font-size: 13px;
	line-height: 1;
	/* Replace $font-size-sm */
	/* Substitute for $utsmokey */
	background-color: #e8e8e8;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
}

.program-entry:nth-child(even) {
	background-color: #fbfbfb;
}

.programs-filters-headings {
	display: none;
	grid-template-columns: 1fr;
	grid-row-gap: 1rem;
	justify-items: start;
	align-items: start;
	padding: 60px 30px 20px;
	border-bottom: 4px solid #ff8200;
	transition: padding 200ms;
}

@media screen and (min-width: 960px) {
	.programs-filters-headings {
		display: grid;
		grid-template-columns: repeat(3, minmax(200px, 3fr));
		grid-column-gap: 3rem;
	}
}

h2.programs-filters-heading {
	display: flex;
	gap: 5px;
	margin: 0;
	align-items: center;
	font-size: var(--wp--preset--font-size--small);
	font-weight: 500;
	margin-bottom: 0;

	.tooltip-icon {
		display: flex;

		&:hover {
			opacity: 0.8;
		}
	}
}

.program-entry {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 15px;
	margin: 0;
	padding: 30px;
	border-bottom: 1px solid var(--wp--preset--color--gray-2);
}

@media screen and (min-width: 960px) {
	.program-entry {
		grid-template-columns: repeat(3, minmax(200px, 3fr));
		grid-column-gap: 3rem;
		padding: 3rem 2rem;
		margin: 0;
	}
}

.program-entry-label {
	margin: 0;
	font-size: 14px;
	line-height: 26px;
}

.program-entry-text {
	margin: 0;
	font-size: 18px;
}

.program-entry-text--bold {
	font-weight: 700;
}

@media screen and (min-width: 960px) {
	.program-entry-label {
		display: none;
	}
}

.placeholder-list,
.concentration-list,
.area-list,
.college-list {
	font-size: 1rem;
	justify-self: stretch;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.degree-list {
	justify-self: stretch;
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.placeholder-list li,
.degree-list li,
.concentration-list li,
.area-list li,
.college-list li {
	margin-left: 0;
}

.programs-container {
	@media screen and (min-width: 1170px) {
		// max-width: var(--wp--style--global--wide-size);
		margin: 0px auto;
		// padding: 0 20px;
	}
}

.programs-filters-chips {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 0 auto 10px;
	padding: 20px 20px 0;
}

@media screen and (min-width: 960px) {
	.programs-filters-chips {
		padding: 20px 30px 0;
	}
}

.programs-filters-chips + .programs-filters-headings {
	padding-top: 20px;
}

.programs-filters-chip {
	display: flex;
	gap: 5px;
	align-items: center;
	height: 32px;
	padding: 5px 7px 5px 11px;
	font-family: var(--wp--preset--font-family--primary);
	font-size: 13px;
	border: none;
	border-radius: 20px;
	color: #fff;
	background-color: #1a73c5;

	&:focus,
	&:hover {
		outline: 0;
		background: #0056a5;
		box-shadow: 0 0 0 0.25rem rgba(26, 115, 197, 0.3);
		cursor: pointer;
	}

	span {
		max-width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.programs-reset-filters-chip {
	display: flex;
	gap: 5px;
	align-items: center;
	height: 32px;
	padding: 5px 12px 5px 9px;
	font-family: var(--wp--preset--font-family--primary);
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #1a73c5;
	border-radius: 20px;
	color: #1a73c5;
	background-color: #fff;

	&:focus,
	&:hover {
		color: #4b4b4b;
		border: 1px solid #4b4b4b;
		cursor: pointer;
	}

	span {
		max-width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media screen and (min-width: 960px) {
	.programs-filters-chip {
		span {
			max-width: 300px;
		}
	}
}

.programs-filters-no-results {
	padding: 40px 40px 30px;
	text-align: center;
	background: #f6f6f6;
	border-bottom: 1px solid var(--wp--preset--color--gray-2);
}

@media screen and (min-width: 960px) {
	.programs-filters-no-results {
		padding: 80px 0 70px;
	}
}

.programs-filters-no-results-content {
	max-width: 750px;
	margin: 0 auto;

	h2 {
		margin: 0;
		font-weight: var(--wp--custom--font-weight--black);
		line-height: var(--wp--custom--line-height--heading);
	}
}

.programs-back-to {
	position: fixed;
	align-items: center;
	justify-content: center;
	width: 58px;
	height: 58px;
	right: 20px;
	bottom: 20px;
	color: #fff;
	background-color: #1a73c5;
	border: none;
	border-radius: 4px;
	z-index: 1;

	&:hover {
		background-color: #0056a5;
	}

	svg {
		width: 28px;
		height: 28px;
	}
}
